html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.8)), url("/img/books_background.jpg");
    background-size: cover;
    min-height: 100vh;
    color: white;
}

.search-input {
    height: 37px;
    border-radius: 5px;
    border: 1px solid #625f5f;
}

.search-input::placeholder {
    padding-left: 10px;
}

th, td {
    text-align: center;
    color: white;
}

.form-group{
    margin-top: 10px;
}

.control-label {
    margin-bottom: 5px;
}

.footer {
    bottom: -9vh !important;
}

.navbar, .footer {
    background-color: #2f3130;
}

a, .nav-link { 
    color: #4782d8
}

.nav-item{
    display: flex;
    align-items: center;
}